.list-options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.list-options button:first-child{
    margin-right: auto;
}

.bg-div {
    background-color: hsl(var(--status_background));
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.edit-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}