.sidebar{
    margin-left: 5%;
    margin-top: 20px;
    width: 25%;
    background-color: hsl(var(--status_background));
    border-radius: 1.5%;
    position: fixed;
    box-shadow: var(--box_shadow);
    padding: 20px;
}

.sidebarTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sidebarTopLeft {
	display: flex;
	align-items: center;
}

.sidebarUser{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--subheading);
}

.sidebarCenter{
	display: flex;
	flex-direction: column;
}
  
.sidebar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
  
.sidebar textarea{
    background-color: hsl(var(--body_background));
    color: var(--text_color);
    border: none;
}