:root {
  --hue: 204;
/*light mode*/
  --body-light: var(--hue) 72.4% 94.3% ;
  --status-light: var(--hue) 0% 100%;
  --text-light: black;
  --shadow-light: 3px 3px 8px #888888;
/*dark mode*/
  --body-dark: var(--hue) 16.7% 16.5% ;
  --status-dark: var(--hue) 95.2% 8.2%;
  --text-dark: white;
  --shadow-dark: none;

  --button_color: var(--hue) 66.8% 57.5%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body_background: var(--body-dark);
    --status_background: var(--status-dark);
    --text_color: var(--text-dark);
    --box_shadow: var(--shadow-dark);
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --body_background: var(--body-light);
    --status_background: var(--status-light);
    --text_color: var(--text-light);
    --box_shadow: var(--shadow-light);
    color-scheme: light;
  }
}

[color-scheme="dark"]{
  --body_background: var(--body-dark);
  --status_background: var(--status-dark);
  --text_color: var(--text-dark);
  --box_shadow: var(--shadow-dark);
  color-scheme: "dark";
}

[color-scheme="light"]{
  --body_background: var(--body-light);
  --status_background: var(--status-light);
  --text_color: var(--text-light);
  --box_shadow: var(--shadow-light);
  color-scheme: "light";
}

* {
  transition: all 0.3s ease-in-out;
}

button{
  background-color: rgb(16,179,209);
}

body{
  margin: 0 0 20px 0;
  background-color: hsl(var(--body_background));
}

.root{
  background-color: hsl(var(--body_background));
  margin: 0;
}

.main{
  background-color: hsl(var(--body_background));
  color: var(--text_color);
}

.main input{
  background-color: hsl(var(--body_background));
  border: none;
  color: var(--text_color);
}

.my-button{
  background-color: hsl(var(--button_color));
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  color: var(--text_color);
}
.my-button:hover {
  filter: brightness(85%);
}

.homelayout {
  margin: 0;
}

.feed{
  width: 40%;
  margin-left: 30%;
  position: relative;
  overflow: auto;
  overscroll-behavior: contain;
  z-index: 1;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}