.body{
  margin: 0;
}

.homelayout {
  display: inline-flex;
  flex-direction: row;
  margin: 0;
  width: 100vw;
}

.sidebar{
  width: 10%;
  background-color: #f0f0f0;
}

.feed {
  width: 50%;
  background-color: aqua;
  height: 100vh;
}
